{% set role_mapping = {} %}
{% set role = role_mapping['device_role'] | default('default') %}
{% set design_rev = config_context['design_revision'] | default('v1.0') %}
{% set root_path = './cisco_ios/' ~ design_rev %}
{% set include_path = root_path ~ '/' ~ role %}
{% include root_path ~ '/' ~ role ~ '_main.j2' %}