!
!
{% include include_path ~ '/hostname.j2' %}{{ '' }}
!
{% include include_path ~ '/aaa.j2' %}{{ '' }}
!
{% include include_path ~ '/stp.j2' %}{{ '' }}
!
{% include include_path ~ '/dns.j2' %}{{ '' }}
!
{% include include_path ~ '/vlan.j2' %}{{ '' }}
!
!
{% include include_path ~ '/ssh.j2' %}{{ '' }}
!
{% include include_path ~ '/syslog.j2' %}{{ '' }}
!
{% include include_path ~ '/banner.j2' %}{{ '' }}
!
{% include include_path ~ '/access-list.j2' %}{{ '' }}
!
!
{% include include_path ~ '/ntp.j2' %}{{ '' }}
!
{% include include_path ~ '/clock.j2' %}{{ '' }}