banner login ^
****************************************************************************

 _       __
| |     / /___ ___  ______  ___
| | /| / / __ `/ / / / __ \/ _ \
| |/ |/ / /_/ / /_/ / / / /  __/
|__/|__/\__,_/\__, /_/ /_/\___/
             /____/

    WAYNE ENTERPRISES CORPORATION
    ARCH TEAM
    THIS DEVICE IS LOCATED IN FREGINALS CITY, STREET MONSTIA 4, 12455

    WARNING: YOU ARE ENTERING A RESTRICTED AREA
             IF YOU ARE NOT AUTHORIZED YOU MUST EXIT IMMEDIATELY
             ACCESS TO THIS SYSTEM IS MONITORED AND LOGGED

****************************************************************************
^