logging history size 500
logging origin-id hostname
logging source-interface {{ config_context['logging']['source_intf'] }}
{% for log_host in config_context['logging']['hosts'] -%}  
logging host {{ log_host }}
{% endfor %}
logging trap notifications